<div class="container">
    <div class="main-view mt-5">
        <h3 class="mb-5">Reset Password</h3>

        <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate>

            <div class="row">
                <div class="col-12">
                    <p class="text-center">Please enter your email address to request a password reset.</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-5">
                    <div class="float-Input mb-4">
                        <app-input
                            [placeHolderText]="'Email'"
                            [inputId]="'email'"
                            [inputType]="'text'"
                            [theFormGroup]="forgotPasswordForm">
                        </app-input>
                        <app-form-error
                            [displayError]="isFormInvalid('email')"
                            [errorMsg]="'Please enter your email.'"
                            [inputId]="'email'"
                            [theFormGroup]="forgotPasswordForm">
                        </app-form-error>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <app-ui-button
                        [buttonText]= "'Reset Password'"
                        [additionalClasses]="'btn-primary'"
                        (buttonWasClicked)="resetPassword()">
                    </app-ui-button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="redirectToLogin">
                        <span>Go back to account?<a class="redirect" routerLink="/sign-in"> Log In</a></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
