<div class="container">
    <div class="main-view mt-5">
        <h3 class="mb-5">Sign In</h3>

        <form [formGroup]="singInForm" autocomplete="off" novalidate>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-5">
                    <div class="float-Input mb-4">
                        <app-input
                            [placeHolderText]="'Email'"
                            [inputId]="'email'"
                            [inputType]="'text'"
                            [theFormGroup]="singInForm">
                        </app-input>
                        <app-form-error
                            [displayError]="isFormInvalid('email')"
                            [errorMsg]="'Please enter your login email.'"
                            [inputId]="'email'"
                            [theFormGroup]="singInForm">
                        </app-form-error>
                    </div>
                    <div class="float-Input mb-4">
                        <app-input
                            [placeHolderText]="'Password'"
                            [inputId]="'password'"
                            [inputType]="'text'"
                            [theFormGroup]="singInForm">
                        </app-input>
                        <app-form-error
                            [displayError]="isFormInvalid('password')"
                            [errorMsg]="'Please enter a valid password.'"
                            [inputId]="'password'"
                            [theFormGroup]="singInForm">
                        </app-form-error>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <app-ui-button
                        [buttonText]= "'Sign In'"
                        [additionalClasses]="'btn-primary'"
                        (buttonWasClicked)="logIn()">
                    </app-ui-button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="formGroup mt-2">
                        <span class="or"><span class="orInner">Or</span></span>
                    </div>

                    <div class="forgotPassword mt-2">
                        <a class="redirect" routerLink="/forgot-password">Forgot Password?</a>
                    </div>

                    <div class="redirectToLogin mt-2">
                        <span>Don't have an account?<a class="redirect" routerLink="/sign-up"> Sign Up</a></span>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
