.container-fluid {
    height: 100%;
    margin: 0;
    color: white;
    position: relative;

    background: url(../../../assets/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */

    .input-section {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
